.pageContainer {
  width: 100%;
  background-color: black;
}

.posterContainer {
  position: relative;
  display: flex;
  width: 100%;
  height: 50vw;
  z-index: 1;
}

.poster {
  position: absolute;
  object-fit: contain;
  width: 100%;
  height: 100%;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

.description {
  display: flex;
  text-align: center;
  color: white;
  font-family: "Voltaire", sans-serif;
  font-size: 20px;
  width: 100%;
  flex-direction: column;
}

.description > div {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.description > p {
  max-width: 600px;
}

.description > span {
  margin-bottom: 6px;
}
