.list {
  list-style: none;
  margin-left: 0;
  box-sizing: border-box;
  padding: 0;
  margin-bottom: 16px;
  display: inline-block;
  min-width: 100px;
  width: 25%;
  padding-right: 12px;
  vertical-align: top;
}

.list > a {
  cursor: pointer;
}

.list > a:hover {
  text-decoration: underline;
}
