.largeRow {
  max-height: 360px;
  width: 240px;
  transition: transform 0.3s;
  cursor: pointer;
  object-fit: cover;
  transform-origin: 120px 0px;
}

.largeRow:hover {
  transform: scale(1.1);
}

.movieImage {
  max-height: 360px;
  width: 240px;
  transition: transform 0.3s;
  cursor: pointer;
  object-fit: cover;
  transform-origin: 120px 0px;
}

.movieImage:hover {
  transform: scale(1.1);
}

.imageButton {
  width: 23px;
  height: 23px;
  margin-right: 20px;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 2px;
  background: #f4c3c6;
  font-size: 0.95rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: none;
  position: absolute;
  top: -5%;
  left: 1%;
}

.imageButton:hover {
  background: #c73434;
  color: #decece;
}

.plusBox {
  font-size: 27px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 24px;
  width: 17px;
}

.checkBox {
  font-size: 27px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 24px;
  width: 17px;
}
