.fAndqDiv {
  position: relative;
  padding: 70px 45px;
  border-bottom: 8px solid #222;
  background-color: #000;
  color: #fff;
  transition: all 0.2s linear;
  /* min-width: 340px; */
}

.contentOfFAndqDiv {
  font-size: 1.625rem;
  text-align: center;
  transition: all 0.2s linear;
}

.listsContainer {
  list-style: none;
  width: 75%;
  margin: 2em auto;
  max-width: 815px;
  transition: all 0.2s linear;
}

@media (max-width: 950px) {
  .contentOfFAndqDiv > h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 550px) {
  .contentOfFAndqDiv > h1 {
    font-size: 1.625rem;
  }
  .listsContainer {
    width: 100%;
    padding: 0;
  }
  .fAndqDiv {
    padding: 70px 0px;
  }
}
