.watchEverywhereDiv {
  padding: 70px 45px;
  border-bottom: 8px solid #222;
  background-color: #000;
  color: #fff;
  /* min-width: 255px; */
}

.contentOfWatchEverywhere {
  display: flex;
  max-width: 1100px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.contentOfWatchEverywhere > div {
  width: 52%;
  height: 100%;
  flex: 0 1 auto;
  padding: 0 3rem 0 0;
  z-index: 3;
  margin: -2% 0;
}

.contentOfWatchEverywhere > div > h1 {
  font-size: 3.125rem;
  line-height: 1.1;
  margin-bottom: 0.5rem;
}

.contentOfWatchEverywhere > div > h2 {
  font-size: 1.625rem;
  font-weight: 400;
}

.tvAndPictureOfWatchEverywhere {
  position: relative;
  margin: -5% -4% -8px 32px;
}

.tvAndPictureOfWatchEverywhere > img {
  max-width: 100%;
  position: relative;
  z-index: 2;
}

.videoContainer {
  width: 100%;
  height: 100%;
  max-width: 56%;
  max-height: 47%;
  position: absolute;
  top: 34%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.videoContainer > video {
  width: 100%;
  height: 100%;
}

@media (max-width: 950px) {
  .contentOfWatchEverywhere {
    flex-direction: column;
  }
  .contentOfWatchEverywhere > div {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .contentOfWatchEverywhere > div > h1 {
    font-size: 2.5rem;
  }

  .contentOfWatchEverywhere > div > h2 {
    font-size: 1.25rem;
  }
  .tvAndPictureOfWatchEverywhere {
    width: 100%;
    max-width: 600px;
    margin: auto;
  }
}

@media (max-width: 550px) {
  .contentOfWatchEverywhere > div > h1 {
    font-size: 1.625rem;
  }

  .contentOfWatchEverywhere > div > h2 {
    font-size: 1.125rem;
  }
}
