.header {
  position: relative;
  object-fit: contain;
  width: 100%;
  height: 820px;
  min-width: 460px;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

.bannerContent {
  height: -webkit-fill-available;
  max-width: 550px;
  padding-left: 40px;
  padding-top: 250px;
  background-image: linear-gradient(90deg, black, #00000003);
  color: white;
}

.bannerTitle {
  color: white;
  font-size: 3rem;
  font-weight: 100px;
}

.buttonsDiv {
  margin-left: 3px;
  margin-top: 10px;
}

.description {
  width: 30rem;
  line-height: 1.2rem;
  max-width: 400px;
  font-size: 1.2rem;
  margin-top: 10px;
  margin-left: 3px;
  height: 150px;
}

.button {
  outline: none;
  border: none;
  margin-right: 15px;
  cursor: pointer;
  color: #fff;
  background-color: rgba(51, 51, 51, 0.51);
  padding: 10px 40px;
  border-radius: 4px;
  font-size: large;
  font-weight: 700;
  transition: 0.3s;
}

.button:hover {
  color: #000;
  background-color: #e6e6e6;
}

.fadeBottom {
  height: 6.1rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgb(4 4 4 / 61%),
    #131212
  );
  margin-top: -98px;
}
